<!-- Dropdown Structure -->
<ul id="cadastro" class="dropdown-content">
    <li><a href="../view/registerMaterial.php">Material</a></li>
    <li><a href="../view/registerUser.php">Usuário</a></li>
    <li><a href="../view/registerPlace.php">Local</a></li>
    <li><a href="../view/registerCategory.php">Categoria</a></li>
</ul>
<ul id="listar" class="dropdown-content">
    <li><a href="../view/listUsers.php">Usuário</a></li>
    <li><a href="../view/listCategory.php">Categoria</a></li>
    <li><a href="../view/listPlace.php">Local</a></li>
</ul>

<nav class="blue">
    <div class="nav-wrapper container">
        <a href="../view/stock.php" class="brand-logo"><i class="material-icons">inventory_2</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="cadastro">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="listar">Listar<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="../view/stock.php">Estoque</a></li>
            <li><a href="../view/history.php">Histórico de retiradas</a></li>
            <li><a href="../view/requestMaterial.php">Solicitar Material</a></li>
            <li><a href="../view/request.php">Solicitações</a></li>
            <li><a href="../view/profile.php">Perfil</a></li>
        </ul>
    </div>
</nav>