<!-- Dropdown Structure -->
<ul id="cadastro" class="dropdown-content">
  <li><a href="#!">Material</a></li>
  <li class="divider"></li>
  <li><a href="#!">Usuário</a></li>
</ul>

<nav class="blue">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo"><i class="material-icons">inventory_2</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Home</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="cadastro">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="collapsible.html">Estoque</a></li>
            <li><a href="collapsible.html">Histórico</a></li>
            <li><a href="collapsible.html">Ajuda</a></li>
        </ul>
    </div>
</nav>